[Unit]
Description=Instagram Story Download API
After=network.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/instagram-story-saver
Environment="PATH=/home/opc/rakko/insta_env/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/opc/rakko/insta_env/bin/uvicorn api:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

# 로그
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
